/*--------------------------------------------------------------
# Content
--------------------------------------------------------------*/

/* Posts and pages */
.site-content {
  max-width: $width__max-width;
  margin: 0 auto;
}

.container {
  max-width: $width__max-width;
  margin: 0 auto;
  padding: 1.5rem;
}

.header-container {
  max-width: $width__max-width;
  margin: 0 auto;
  padding: 0.5rem 1.5rem;
}

.container-without-top-margin {
  padding: 0 1.5rem;
}

.sticky {
  display: block;
}

.hentry {
  margin: 0 0 $base__space-unit;
}

.updated:not(.published) {
  display: none;
}

.single .byline,
.group-blog .byline {
  display: inline;
}

.page-content,
.entry-content,
.entry-summary {
  margin: $base__space-unit 0 0;
}

.page-links {
  clear: both;
  margin: 0 0 $base__space-unit;
}

/* Asides */

.blog .format-aside .entry-title,
.archive .format-aside .entry-title {
  display: none;
}

/* Comments */

.comment-content a {
  word-wrap: break-word;
}
.bypostauthor {
  display: block;
}
