/*--------------------------------------------------------------
# Content
--------------------------------------------------------------*/

/* Posts and pages */
.site-content {
  width: $width__max-width;
  margin: 0 auto;
}

.container {
  width: $width__max-width;
  margin: 0 auto;
  padding: 1.5rem;
}

.header-container {
  max-width: $width__max-width;
  margin: 0 auto;
  padding: 0 1.5rem;
}

.page-template-default,
.search,
.error404,
.archive,
.post-template-default {
  .site-content {
    padding: 0 1.5rem;
  }
}

.post-type-archive-products,
.tax-product-taxonomy {
  .site-content{
    padding: 1.5rem;
  }
}

// .page-template-default,
// .blog,
// .post-template-default,
// .archive,
// .search,
// .error404{
//   .site-content{
//     display: grid;
//     grid-template-columns: 70% 30%;
//   }
// }

// .post-type-archive-products,
// .page-about,
// .page-home,
// .tax-product-taxonomy 
// (is_page('find-us') || is_home() || is_single() || is_search() || is_archive() || is_404())

.product-container{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 2rem;
  margin-bottom: 4rem;
  padding-top: 3rem;
  border-top: $border__dashed;
}

.sticky {
  display: block;
}

.hentry {
  margin: 0 0 $base__space-unit;
}

.updated:not(.published) {
  display: none;
}

.single .byline,
.group-blog .byline {
  display: inline;
}

.page-content,
.entry-content,
.entry-summary {
  margin: $base__space-unit 0 0;
}

.page-links {
  clear: both;
  margin: 0 0 $base__space-unit;
}

/* Asides */

.blog .format-aside .entry-title,
.archive .format-aside .entry-title {
  display: none;
}

/* Comments */

.comment-form{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 0 2rem;
  border-radius: 0;
  p{
    grid-column: span 4;
    input{
      width: 100%;
      &[type='checkbox']{
        width: auto;
      }
      &[type='submit']{
        width: auto;
      }
    }
    label{
      text-transform: uppercase;
      font-family: $font__headings ;
    }
  }
  .comment-form-author, .comment-form-email{
    grid-column: span 2;
  }
}

.comments-area{
  margin: 3rem 0;
  h3{
    font-size: 2rem;
  }
}

.comment-content a {
  word-wrap: break-word;
}
.bypostauthor {
  display: block;
}
