/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/
footer {
  .site-info {
    color: white;
    .widget-footer-area {
      display: flex;
      i{
        padding-right: .6rem;
        line-height: $font__line-height-body;
      }
      .footer-area {
        padding: 0 1.5rem 0 0;
        h4 {
          color: $color__footer-h4;
          text-transform: uppercase;
        }
        .social-media-icons {
          display: flex;
          flex-direction: row;
        }
        a {
          padding-right: 0.6rem;
          color: white;
        }
        a i {
          color: white;
        }
      }
    }
    .footer-logo-image {
      align-self: flex-start;
      margin-top: 1.5rem;
      img {
        height: 3rem;
      }
    }
    .inhabitent-copyright-tag {
      font-family: $font__headings;
      color: white;
      text-transform: uppercase;
      text-align: center;
      width: 100%;
    }
    .inhabitent-footer-info-section {
      @include flex-jcenter-acenter;
      justify-content: space-between;
      width: 100%;
      margin-bottom: 3rem;

    }
  }
}

.widget-area {
  border-left: $border__solid;
  padding: 1.5rem;
  .widget_archive ul {
    text-decoration: none;
    list-style: none;
    margin: 0;
  }
  i {
    padding-right: 1rem;
    line-height: $font__line-height-body;
  }
  p{
    display: flex;
  }
}