/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/

.site-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  background-position: center;
  background-size: cover;
  .inhabitent-header-block {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}

.header-border-bottom {
  border: $border__solid;
}

.main-navigation {
  width: auto;
  button{
    &.search-submit{
      background-color: transparent;
      &:hover{
        border-color: none;
        box-shadow: none;
      }
    }
  }
  .icon-search{
    color: $color__brand-green;
  }
}

.login h1 a {
  background-position: center;
  background-size: contain;
  width: auto;
}

.site-branding .inhabitent-site-logo {
  display: block;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  height: 3rem;
  width: 3rem;
}
