/*--------------------------------------------------------------
# Page Templates
--------------------------------------------------------------*/

// Here banner for Front-page and About-page
.inhabitent-hero-banner {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 90vh;
}

/* Front page */
.inhabitent-logo-front-page {
  position: absolute;
  height: 30vh;
}

.front-page-section-title {
  text-align: center;
  text-transform: uppercase;
}

.inhabitent-journal-post-cards-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
  .inhabitent-journal-post-cards {
    border: $border__solid;
    .post-thumbnail-img {
      border-bottom: $border__bottom-solid;
      height: 14rem;
      overflow: hidden;
      display: flex;
      justify-content: center;
      align-items: center;
      img {
        margin: auto;
        min-width: 110%;
      }
    }
    .journal-post-wrapper {
      padding: 1rem;
      h2 {
        font-size: 1.5rem;
        color: $color__brand-green;
      }
      .journal-btn {
        background-color: transparent;
      }
    }
  }
}

/* Pages */
.two-column {
  display: grid;
  grid-template-columns: 70% 30%;
}

.page-default {
  padding-right: 2rem;
}

/* About */
.about-page-title h1 {
  text-transform: uppercase;
}

.inhabitent-about-page {
  padding-right: 2rem;
  h2 {
    text-align: center;
  }
}

/* Find Us */
.widget-area {
  border-left: $border__solid;
  padding-left: 2rem;
}
