/*--------------------------------------------------------------
# Page Templates
--------------------------------------------------------------*/

// Here banner for Front-page and About-page
.inhabitent-hero-banner {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 90vh;
}

/* Front page */
.inhabitent-logo-front-page {
  position: absolute;
  height: 30vh;
}

.front-page-section-title {
  text-align: center;
  text-transform: uppercase;
}

.products-taxonomies-front{
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin-bottom: 4rem;
  a{
    padding: 1rem;
    text-decoration: none;
    margin: 0 0.4rem;
    border: $border__solid;
    border-top: $border__bottom-solid;
    color: black;
    font-size: 1.1rem;
    .front-page-taxonomies-icons{
      height: 6rem;
      margin: 1rem;
    }
    h3{
      margin: 0;
    }
  }
}

.inhabitent-journal-post-cards-container {
  box-sizing: border-box;
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 4rem;
  .inhabitent-journal-post-cards{
    border: $border__solid;
    box-sizing: border-box;
    width: 32%;
    p{
      margin-bottom: .2rem;
    }
    h2{
      color: $color__brand-green;
      font-size: 1.4rem;
    }
    .post-thumbnail-img{
      box-sizing: border-box;
      height: 14rem;
      background-position: center;
      background-size: cover;
      border-bottom: $border__bottom-solid;
    }
    .journal-post-wrapper{
      padding: 6%;
    }
  }
}

/* Home */
.home-content-area {
  padding: 1.5rem 1.5rem 0 0;
}
a.journal-btn {
  margin-right: .2rem;
  padding: .4rem 1.4rem;
  border: $border__solid;
  color: $color__text-main;
  text-transform: uppercase;
  font-family: $font__headings;
  &:link{
    text-decoration: none;
  }
}

.home-post-header {
  position: relative;
  height: 62vh;
  background-position: center;
  background-size: cover;
  .journal-image-link{
    position: absolute;
    height: 100%;
    width: 100%;
  }
  h2 {
    a {
      color: white;
      text-decoration: none;
    }
    padding: 0 1rem;
    top: 2rem;
    position: absolute;
    background-color: $color__background-green;
    width: 70%;
  }
  .entry-meta {
    padding: 0 1rem;
    position: absolute;
    bottom: 0;
    right: 0;
    color: white;
    background-color: $color__background-green;
  }
}

/* Pages */
.two-column {
  display: grid;
  grid-template-columns: 70% 30%;
}

.page-default {
  padding-right: 2rem;
}

/* About */
.about-page-title h1 {
  text-transform: uppercase;
}

.inhabitent-about-page {
  padding-right: 2rem;
  h2 {
    text-align: center;
  }
}

/* Find Us */
.widget-area {
  border-left: $border__solid;
  padding: 1.5rem;
  .widget_archive ul {
    list-style: none;
    margin: 0;
  }
}

/* Product Archives */
.product-archive-title{
  text-align: center;
  text-transform: uppercase;
}

.products-taxonomies-list{
  list-style: none;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin: 0;
  padding: 0 0 3rem;
  li{
    padding: 0 2rem;
    text-transform: uppercase;
    color: $color__brand-green;
    font-family: $font__headings;
  }
  a:link{
    text-decoration: none;
  }
}

.product-card{
  display: flex;
  flex-direction: column;
  border: $border__solid;
  a{
    text-decoration: none;
  }
  .product-img-wrapper{
    height: 12rem;
    background-position: center;
    background-size: cover;
    gap: 2rem;
    border-bottom: $border__bottom-solid;
  }
  .product-info{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 1rem;
    h3, p {
      margin: 0;
      color: $color__text-main;
    }
  }
}

/* Products Taxonomy*/
.product-taxonomy-header{
  p{
    text-align: center;
  }
}

/* Single Product */
.single-product-card{
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 3rem;
  margin: 0 0 7rem;
  .single-product-price{
    font-size: 1.8rem;
    font-family: $font__headings;
  }
  h1{
    color: $color__brand-orange;
    font-size: 2rem;
    text-transform: uppercase;
  }
  .single-product-img-wrapper{
    background-position: center;
    background-size: cover;
  }
}

// TODO - add this to a button class
.single-product-social-media{
  display: flex;
  a{
    margin-right: .2rem;
    padding: .4rem 1.4rem;
    border: $border__solid;
    color: $color__text-main;
    &:link{
      text-decoration: none;
    }
  }
}

// Search bar
.search-results{
  .page-title{
    border-bottom: $border__solid;
  }
  .entry-title{
    a{
      text-decoration: none;
    }
  }
}

// Single Journal Post
.post-category-meta{
  display: flex;
  text-transform: uppercase;
  p{
    padding-right: 1rem;
  }
  a{
    // margin-right: 1rem;
    text-decoration: none;
  }
}